<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
    <title>Devlus Description</title>
</head>
<body>
    <div class="container">
      <img class="portrait2" id="Lowerpad" src="/css/156397930939277837.jpeg">
        <form>
            <div class="form-group">
                <label for="Description-info"><b>Project Name:</b></label>
                <input  name="projectName" type="text" class="form-control" id="Description" aria-describedby="DescriptionHelp" placeholder="Name your project here" maxlength="50" size="12">
                <small id="DescriptionHelp" class="form-text text-muted">Talk about the general ideas of your project, for example, what is the project on.</small>
            </label>
          </div>
          <div class="form-group">
              <label for="Description-info"><b>Description:</b></label>
              <input  name="description" type="text" class="form-control" id="Description" aria-describedby="DescriptionHelp" placeholder="Write your description here" maxlength="50" size="12">
              <small id="DescriptionHelp" class="form-text text-muted">Talk about the general ideas of your project, for example, what is the project on.</small>
          </label>
          </div>
          <div class="form-group"><b>Location:</b></label>
            <input name="location" type="text" class="form-control" id="Location" aria-describedby="Location" placeholder="Type in an area, where your meeting group will assemble" maxlength="4" size="4">
            <small id="LocationHelp" class="form-text text-muted">This is where, your group will meet up, and converse.</small>
          </div>
            <div class="form-group">
              <label for="Progammer-info">
                <b>Programmers needed:</b></label>
              <input name="devnumb" type="text" class="form-control" id="Programmer" aria-describedby="ProgrammerHelp" placeholder="Type of Programmer" maxlength="4" size="4">
              <small id="ProgrammerHelp" class="form-text text-muted">In this box, you talk about the type of programmers you need, e. g. Front-end developer, or Back-end developer.</small>
          </div>
          <div class="form-group">
            <label for="Pay-info"><b>Payment:</b></label>
            <input  name="pay" type="text" class="form-control" id="Pay" aria-describedby="PayHelp" placeholder="Payment" maxlength="4" size="4">
            <small id="PayHelp" class="form-text text-muted">In this box, you talk about the amount of payment you are willing to give, if any, and if it is negotiable or not.</small>
          </div>
          <button id="addprojectbutton" type="submit" class="btn btn-primary btn-lg btn-block">Submit your project</button>
        </form>
    </div>
</body>
</html>