<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Devlus | Posting</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
            div {
              background-color: lightgrey;
              width: 300px;
              border: 15px solid green;
              padding: 50px;
              margin: 20px;
            }
            </style>
</head>
<body>
   <h1><strong>Description of project:</strong></h1> 
   <p>Give a detailed description on what the project is about.</p>
   <h1><strong>Location:</strong></h1>
   <p>Talk about, where, and when the meeting is going to take place.</p>
   <h1><strong>Favorable skill set:</strong></h1>
   <p>Talk about the type of skills you would like for this project, e.g. Front-end developer, or Back-end developer.</p>
   <h1><strong>Optional Pay:</strong></h1>
   <p>If you are planning to make this project a public object, and looking to hire code developers, post the pay you are willing to hire them for, and whether or not it is open for discussion.</p>
   <h1><strong>Comments</strong></h1>
   <p>If you have any additional things, you would choose to say.</p>
</body>
<button type="button">Maybe</button> <button type="button">Yes</button>
</html>