<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
    <title>Devlus Description</title>
    <script src="https://kit.fontawesome.com/75c4954936.js"></script>
</head>
<body>
<body style="background-color:powderblue;">
   <div div style="text-align:center;">
    <h5 class="header" style="padding-top: 50px;">Description:</h5>
        <input class= "input" type="text">
    <h5 class="header" style="padding-top: 50px;">Location:</h5>
         <input class= "input" type="text">
    <h5 class="header" style="padding-top: 50px;" >Programmers Needed</h5>
        <input class= "input"  type="text">
    <h5 class="header" style="padding-top: 50px;" >Optional Pay</h5>
        <input class= "input"  type="text">
    <h5 class="header" style="padding-top: 50px;">Comments</h5>
        <input class= "input"  type="text">
    </div>
</body>
</html>