<!DOCTYPE HTML>
<html lang = "en">
  <head>
    <title>Creation Settings</title>
    <meta charset = "UTF-8" />
  </head>
  <body>
    <h1>Description</h1>
    <form>
      <fieldset>
        <legend>Options</legend>
        <p>
          <label></label>
          <input type = "text"
                 id = "myText"
                 value = "text here" />
        </p>
        <p>
          <label>Description Area:</label>
          <textarea>Type Your Text Here</textarea>
        </p>
      </fieldset>
    </form>
  </body>
</html>