<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Devlus | Signup</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/js/navigation.js">
</head>
<header>
</header>
<body style="background-color:#b1e0e6;">
    <div class="container3">
        <nav>
            <ul id="links">
                <li onclick="red(1, linkCount[0])">
                    <a href="/main">Home</a>
                </li>
                <li onclick="red(2, linkCount[1])">
                    <a href="/profile">Profile</a>
                </li> 
                <li onclick="red(3, linkCount[2])">
                    <a href="/singleProject">Projects</a>
                </li>
                <li onclick="red(4, linkCount[3])">
                    <a href="/addproject">Add Project</a>
                </li>
                <li class="active">
                    <a href="/login">Login</a>
                </li>
            </ul>
            <div class="progressBar">
                <div id="progress"></div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="heading">
          <strong><p><center><h1>Log in</h1></center></strong>
          <meta name="viewport" content="width=device-width, initial-scale=1">
            <style>
            img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            }
            </style>
           <img class="portrait" src="/css/156397930939277837.jpeg">   
          </svg>
        </div>
        <form class="login" action="/login" method="POST">
            <dl>
            <dt>Username</dt>
                <div class="form-group">
                    <input name='username' type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
                    <small id="emailHelp" class="form-text text-muted"></small>
                </div>
            <dt>Password</dt>
            <div class="form-group">
                    <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    <small id="emailHelp" class="form-text text-muted"></small>
            </div>
            </dl>
            <button type="submit">Login</button>
        </form>
        <div id="github-button" class="btn btn-block btn-social btn-github">
            <a href="/auth/github">Log in with Github</a>
       </div>
        <div class="footer">
          <a href="#">Terms &amp; Conditions</a>
          <a href="/signup" class="sign-up-link">Sign up</a>
        </div>
      </div>
    <script src="/public/js/main.js"></script>
</body>
</html>