<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Devlus | Signup</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/js/navigation.js">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<div class="container3">
        <nav class="mb-5" style="background-color: #f0f0f0;">
            <ul id="links">
                <li>
                    <a href="/main">Home</a>
                </li>
                <li>
                    <a href="/profile">Profile</a>
                </li>
                <li >
                    <a href="/addproject">Add Project</a>
                </li>
                <li>
                    <a href="#">about</a>
                </li>
                <li class="active">
                    <a href="/login">Login</a>
                </li>
            </ul>
        </nav>
    </div>
<body style="background-color:#b1e0e6;">
    <div class="container">
        <div class="heading">
          <strong><p><center><h1>Log in</h1></center></strong>
          <meta name="viewport" content="width=device-width, initial-scale=1">
            <style>
            img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            }
            </style>
           <img class="portrait" src="/css/156397930939277837.jpeg">   
          </svg>
        </div>
        <form class="login" action="/login" method="POST">
            <dl>
            <dt>Username</dt>
                <div class="form-group">
                    <input name='username' type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
                    <small id="emailHelp" class="form-text text-muted"></small>
                </div>
            <dt>Password</dt>
            <div class="form-group">
                    <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    <small id="emailHelp" class="form-text text-muted"></small>
            </div>
            </dl>
            <button type="submit">Login</button>
        </form>
        
        <div class="moreops">or Login with</div>
        <div class="social-login">
            <a href="/auth/github" class="github">
             <i class="fa fa-github"></i>
            </a>
          <br>
        </div>
        <div class="footer">
          <a href="#">Terms &amp; Conditions</a>
          <a href="/signup" class="sign-up-link">Sign up</a>
        </div>
     
    <script src="/public/js/main.js"></script>
</body>
</html>