<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Devlus | Signup</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="/css/main.css">
   <link rel="stylesheet" href="/css/navigation.css">
   <link rel="stylesheet" href="/js/navigation.js">
</head>
<body>
    
  <div class="container">
        <!-- Content here -->
        <div id="Display mx-auto text-center">
          <img src="/logo.jpeg" alt="">
        </div>
        <% for ( let i=0; i < projects.length;  i++ ) { %>
            <div class="row">
              <div id="text1">
               <div class="col">
                 <img id="<%= projects[i].id%>" src="<%= projects[i].image %>" alt="">
                 <%= projects[i].projectName%>
                </div>
              </div>
            </div>
        <% } %>
  </div>
</body>
</html>