<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Devlus | Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/landing.css">
</head>
<body>
    
    <div class="container">
        <!-- Content here -->
        <div id="Display">
        <h1 class="display-1">Display 1</h1>
        </div>
            <div class="row">
              <div id="text1">
              <a href="/singleProject"><h2><div class="col">Example Project 1</div></h2></a>
              </div>
              <div id="text2">
              <a href="/singleProject"><h2><div class="col">Example Project 2</div></h2></a>
              </div>
              <div id="text3">
              <a href="/singleProject"><h2><div class="col">Example Project 3</div></h2></a>
              </div>

              <div class="w-100"></div>
              <div id="images1">
              <div class="col"><img src="https://via.placeholder.com/260" alt="This is a placeholder"></a></div>
              </div>
              <div id="images2">
              <div class="col"><img src="https://via.placeholder.com/260" alt="This is a placeholder"></a></div>
              </div>
              <div id="images3">
              <div class="col"><img src="https://via.placeholder.com/260" alt="This is a placeholder"></a></div>
            </div>
            </div>
          </div>
      </div>
       <% for ( let i=0; i < projects.length;  i++ ){%>
        <img id="<%= projects[i].id%>" src="<%= projects[i].image %>" alt="">
        <% } %>

</body>
</html>