<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Devlus | Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/landing.css">
</head>
<body style="background-color:#b1e0e6;">
    
    <div class="container">
        <!-- Content here -->
        <h1 class="display-1">Display 1</h1>
  
        <ul class="list-group">
            <li class="list-group-item"><a href="/singleProject"> Random Project #1</a></li>
            <li class="list-group-item"><a href="/singleProject"> Random Project #2</a></li>
            <li class="list-group-item"><a href="/singleProject"> Random Project #3</a></li>
            <li class="list-group-item"><a href="/singleProject"> Random Project #4</a></li>
            <li class="list-group-item"><a href="/singleProject"> Random Project #5</a></li>
          </ul>
      </div>
</body>
</html>