<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project Selection</title>
</head>
<body style="background-color:#b1e0e6;">
    
    <title>Devlus | Home</title>
    <link rel=" " href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    
    <h2><center>Welcome "User"</center></h2>
    <center><h4>Choose a project below  to begin</h4></center>
    <img src="https://via.placeholder.com/100x100"></img>
</body>
</html>