<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Devlus | Signup</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="container">
<<<<<<< HEAD
    <a href="https://placeholder.com"><img src="https://via.placeholder.com/150" alt="Placeholder"></a>
    <div class="desc">

    <p>Username</p>
    <p>Real Name</p>
    <p>Location</p>
    <p>Linked Accounts</p>
    <h1>Saved Projects</h1>
    </div>
    <a href="https://placeholder.com"><img src="https://via.placeholder.com/150" alt="Placeholder"></a>
    <a href="https://placeholder.com"><img src="https://via.placeholder.com/150" alt="Placeholder"></a>
    <a href="https://placeholder.com"><img src="https://via.placeholder.com/150" alt="Placeholder"></a>
    </div>
    
=======
        <a href="https://placeholder.com"><img src="<%= currentUser.photos[0].value %>" alt="Placeholder"></a>
        <div class="desc">
            <p><%= currentUser.username %></p>
            <p><%= currentUser.displayName %></p>
            <p>Location</p>
            <p>Linked Accounts</p>
            <h1>Saved Projects</h1>
        </div>
        <a href="https://placeholder.com"><img src="https://via.placeholder.com/150" alt="Placeholder"></a>
        <a href="https://placeholder.com"><img src="https://via.placeholder.com/150" alt="Placeholder"></a>
        <a href="https://placeholder.com"><img src="https://via.placeholder.com/150" alt="Placeholder"></a>
    </div>
     </div>
>>>>>>> bf020dff8f3141cba627ff7243175c5345ccd4e6
</body>
</html>