<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile:</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<body style="background-color: powderblue"
        <!-- Password string 
        Dateofbirth int
        Firstname string
        Lastname string
        Location string
        Age int
        github string
        Avatar string   
        Role int -->

    
        <div class="form-group">
            <label for="Username-info"><b>Username:</b></label>
            <a href="https://placeholder.com"> <img src="https://via.placeholder.com/80x80" alt="">

        <div class="form-group">
            <label for="Password-info"><b>Password:</b></label>
            <a href="https://placeholder.com"> <img src="https://via.placeholder.com/80x80" alt="">
                
        <div class="form-group">
            <label for="DOB-info"><b>DOB:</b></label>
            <a href="https://placeholder.com"> <img src="https://via.placeholder.com/80x80" alt="">  

        <div class="form-group">
            <label for="Zip-info"><b>Zip Code:</b></label>
            <a href="https://placeholder.com"> <img src="https://via.placeholder.com/80x80" alt=""> 

        <div class="form-group">
            <label for="Age-info"><b>Age:</b></label>
            <a href="https://placeholder.com"> <img src="https://via.placeholder.com/80x80" alt="">      

        <div class="form-group">
            <label for="Github-info"><b>Github Username:</b></label>
            <a href="https://placeholder.com"> <img src="https://via.placeholder.com/80x80" alt=""> 
                
        <div class="form-group">
            <label for="Avatar-info"><b>Avatar:</b></label>
            <a href="https://placeholder.com"> <img src="https://via.placeholder.com/80x80" alt="">   

        <div class="form-group">
            <label for="Role-info"><b>Role:</b></label>
            <a href="https://placeholder.com"> <img src="https://via.placeholder.com/80x80" alt="">  
</html>