<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Devlus | Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
</head>
<header></header>
<body style="font-family: 'Lato', sans-serif;">     
    <a href="https://placeholder.com"> <img src="https://via.placeholder.com/70x50" class="userImage" style="display: inline-block"></a>       
       <!-- <p style="display: inline-block"></p> -->
    <a href="https://placeholder.com"> <img src="https://via.placeholder.com/300x80" ></a>
<div div style="text-align:center;">
    <h1>Saved Projects</h1> <br>
        <a href="https://placeholder.com"><img src="https://via.placeholder.com/200x200" alt=""></a>
    
    </div>
</body>
</html> 