<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Devlus | Signup</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    
</head>
<header>
</header>
<body>
    <div class="container">
        <div class="heading">
          <h1>Sign Up</h1>
          <img class="portrait" src="https://yt3.ggpht.com/-dhKFOa9qsvU/AAAAAAAAAAI/AAAAAAAAAAA/n2GHiMHW20k/s900-c-k-no/photo.jpg">
          <svg class="slant" preserveAspectRatio="none">    
          </svg>
        </div>
        <form action="/signup" method="POST" class="signup">
            <dl>
            <dt>UserName</dt>
                <div class="form-group">
                    <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
                    <small id="emailHelp" class="form-text text-muted"></small>
                </div>
            <dt>Email</dt>
            <div class="form-group">
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                    <small id="emailHelp" class="form-text text-muted"></small>
            </div>
            <dt>Password</dt>
            <div class="form-group">
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    <small id="emailHelp" class="form-text text-muted"></small>
            </div>
            </dl>
            <button type="submit">Done</button>
        </form>
        <div class="footer">
          <a href="#">Terms &amp; Conditions</a>
          <a href="#" class="sign-in-link">Sign In</a>
        </div>
      </div>
    <script src="/public/js/main.js"></script>
</body>
</html>