<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Devlus | View Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/js/navigation.js">
</head>
<div class="container3">
        <nav class="mb-5" style="background-color: #f0f0f0;">
            <ul id="links">
                <li>
                    <a href="/main">Home</a>
                </li>
                <li>
                    <a href="/profile">Profile</a>
                </li>
                <li>
                    <a href="/addproject">Add Project</a>
                </li>
                <li>
                    <a href="#">about</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
            </ul>
        </nav>
</div>
<body class=" "> 
        <div class="container mx-auto text-center">
                <img src="<%= project.image %>" class="mt-5 img-thumbnail img-thubnail2 mx-auto d-block" alt="Placeholder"></a>
                <h1 class="display-1 mt-5 text-primary"><%= project.projectName %></h1>
                <p class="lead mt-5"><%= project.description %></p>                
                <a href="/profile" class="btn btn-primary btn-lg">Join <%= project.projectName %></a>    
        </div>
</body>
</html>