<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Devlus | View Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/js/navigation.js">
</head>
<body>
    <img src="/css/156397930939277837.jpeg" alt="Devlus" height="75" width="75">
    <h1><b>"Name of the Project"</b></h1>
    <h1>Project Image</h1>
    <img src="https://via.placeholder.com/500x500" alt="Placeholder"></a>
</body>
</html>