<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Devlus | View Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/js/navigation.js">
</head>
<body>
    <img src="/css/156397930939277837.jpeg" alt="Devlus" height="150" width="150">
    <h1 id="Body-singleProject"><b>"Name of the Project"</b></h1>
    <strong><h1 id="Body-singleProject">Project Image</h1></strong>
    <div id="Placeholder-project"><img src="https://via.placeholder.com/500x500" alt="Placeholder"></a></div>
gs</body>
</html>