body {
    background-color: #89cff0;
    padding-top: 50px;
  }
  input {
    width: 100%;
  }
h5{
  padding-top: 20px;
}
.header{
  padding-top:  50px;

}
.userImage{
 box-align: left;
 box-align:top;
}
#Image{
  display: inline-block;
}

